cranfield.db
venv
__pycache__
cranfield.qrels
cranfieldoutput
/duckdb-fts-main/
/trec_eval/
*.db
*.ciff
output*.txt
results*.txt
*.txt
/results/
/resultszoekeend/
/oldresults/
*.ciff.gz
INSTALL
custom.qrels
custom_index
database.db.wal
