cranfield.db
venv
__pycache__
cranfield.qrels
cranfieldoutput
/duckdb-fts-main/
/trec_eval/
/spreadsheets/
*.png
plot*
*lock*
*.db
*.ciff
*.csv
*.sync*
*.log
/trec_eval/
/try-scipy/
output*.txt
results*.txt
*.txt
/results/
/resultszoekeend/
/oldresults/
*.ciff.gz
INSTALL
custom.qrels
custom_index
database.db.wal
